@model IEnumerable<Shared.Models.Diagnosis>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Result
            </th>
            <th>
                Description
            </th>
            <th>
                Date and time
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Result.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
</table>
